<section class="home_banner_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-7">
                <div class="blog_text_slider owl-carousel">
                    {{#foreach readingList.total limit="5"}}
                        <div class="item">
                            <div class="blog_text">
                                <div class="cat">
                                    <a href="#">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        {{dateformat date format="YYYY-MM-DD HH:mm"}}
                                    </a>
                                </div>
                                <a href="#"><h4>{{title}}</h4></a>
                                <p>{{abstract}}</p>
                                <a class="blog_btn" href="{{href}}">阅读更多</a>
                            </div>
                        </div>
                        <li data-target="#carousel" data-slide-to="{{@index}}" {{#if @first}}class="active"{{/if}}></li>
                    {{/foreach}}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    {{#foreach list.contents}}
                        <article class="blog_style1">
                            <div class="blog_img">
                                <img class="img-fluid" src="{{thumbnail.src}}" title="{{thumbnail.fileName}}"
                                     alt="{{thumbnail.description}}">
                            </div>
                            <div class="blog_text">
                                <div class="blog_text_inner">
                                    <div class="cat">
                                        <a>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            {{dateformat date format="YYYY年MM月DD日"}}
                                        </a>
                                        <a>
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            {{reading.total}}
                                        </a>
                                    </div>
                                    <a href="{{url}}" title="{{title}}" target="_blank"><h4>{{title}}</h4></a>
                                    {{#if abstract}}
                                        <p>{{abstract}}</p>
                                    {{/if}}
                                    <a class="blog_btn" href="{{url}}">阅读更多</a>
                                </div>
                            </div>
                        </article>
                    {{/foreach}}
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            {{#foreach list.pagination}}
                                <li class="page-item" {{#if active}}class="active"{{/if}}>
                                    <a class="page-link" href="{{url}}">{{name}}</a>
                                </li>
                            {{/foreach}}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                {{> right-side-bar}}
            </div>
        </div>
    </div>
</section>
