<div class="container">
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                {{#foreach category.breadcrumb}}
                    <li><a href="{{path}}">{{name}}</a></li>
                {{/foreach}}
                <li class="active">{{category.name}}</li>
            </ol>
            <div class="row">
                {{#foreach lists}}
                    <div class="col-md-6">
                        <div class="panel panel-less">
                            <div class="panel-heading">
                                {{name}}
                                <a class="pull-right see-all" href="{{path}}">More</a>
                            </div>
                            <div class="list-group list-group-less">
                                {{#foreach contents limit="5"}}
                                    <a href="{{href}}" class="list-group-item text-overflow">
                                        <div class="card-img">
                                            <img alt="img" src="{{thumbnail.src}}">
                                        </div>
                                        <div class="card-info">
                                            <section class="title">{{title}}</section>
                                            <section>
                                                <section class="social-bar">
                                                    <i class="iconfont icon-eye"></i>
                                                    <span>{{reading.total}}</span>
                                                </section>
                                            </section>
                                        </div>
                                    </a>
                                {{/foreach}}
                            </div>
                        </div>
                    </div>
                    <!-- younagames -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-format="fluid"
                         data-ad-layout-key="-i2+e-f-4c+9b"
                         data-ad-client="ca-pub-7524637416419319"
                         data-ad-slot="5766598392"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                {{/foreach}}
            </div>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
            <div class="panel panel-default">
                <div class="panel-heading">频道阅读总排行</div>
                <ul class="list-group">
                    {{#foreach readingList.total limit="5"}}
                        <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
                    {{/foreach}}
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">频道阅读本月排行</div>
                <ul class="list-group">
                    {{#foreach readingList.month limit="5"}}
                        <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
                    {{/foreach}}
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">频道阅读本周排行</div>
                <ul class="list-group">
                    {{#foreach readingList.week limit="5"}}
                        <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
                    {{/foreach}}
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">频道阅读今日排行</div>
                <ul class="list-group">
                    {{#foreach readingList.day limit="5"}}
                        <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
                    {{/foreach}}
                </ul>
            </div>
        </div>
    </div>
</div>
