<div class="container">
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                {{#foreach category.breadcrumb}}
                    <li><a href="{{path}}">{{name}}</a></li>
                {{/foreach}}
                <li class="active">{{category.name}}</li>
            </ol>
            <div class="list-group list-group-less">
                {{#foreach list.contents}}
                    <a href="{{url}}" class="list-group-item text-overflow">
                        <div class="card-img">
                            <img alt="img" src="{{thumbnail.src}}">
                        </div>
                        <div class="card-info">
                            <section class="title">{{title}}</section>
                            <section>
                                <section class="author">
                                    <span>{{dateformat date format="YYYY/MM/DD HH:mm"}}</span>
                                </section>
                                <section class="social-bar">
                                    <i class="iconfont icon-eye"></i>
                                    <span>{{reading.total}}</span>
                                </section>
                            </section>
                        </div>
                    </a>
                {{/foreach}}
            </div>
            <nav class="text-center">
                <ul class="pagination">
                    {{#foreach list.pagination}}
                        <li {{#if active}}class="active"{{/if}}>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/foreach}}
                </ul>
            </nav>
        </div>
        {{> side-bar}}
    </div>
</div>
