<div class="container">
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                {{#foreach category.breadcrumb}}
                    <li><a href="{{path}}">{{name}}</a></li>
                {{/foreach}}
                <li><a href="{{category.path}}">{{category.name}}</a></li>
                <li class="active">{{text title words="15"}}</li>
            </ol>
            <div class="page-header text-center">
                <h1>{{title}}</h1>
                <img class="logo" src="{{thumbnail.src}}"/>
                <p class="social-bar">
                    {{dateformat date format="YYYY/MM/DD HH:mm"}}　<i class="iconfont icon-eye"></i> {{reading.total}}　
                </p>
            </div>
            {{#if abstract}}
                <div class="well text-muted">{{abstract}}</div>
            {{/if}}
            <!-- younagames -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="fluid"
                 data-ad-layout-key="-6t+ed+2i-1n-4w"
                 data-ad-client="ca-pub-7524637416419319"
                 data-ad-slot="2234756923"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="detail-info">
                <div class="tag-tit">
                    <span class="name">Details</span>
                </div>
                <div class="details">
                    <div class="items">
                        <span class="tit-name">Size:</span>
                        <span class="size">{{extensions.size}}</span></div>
                    <div class="items">
                        <span class="tit-name">Version:</span>
                        <span class="size">{{extensions.version}}</span></div>
                    <div class="items">
                        <span class="tit-name">Update Date:</span>
                        <span class="size">{{extensions.updateAt}}</span>
                    </div>
                    <div class="items">
                        <span class="tit-name">Author:</span>
                        <span class="size">{{extensions.author}}</span>
                    </div>
                </div>
            </div>
            {{#if tags}}
                <div class="tags">
                    Tags：{{#foreach tags}}<span class="tag">{{this}}</span> {{/foreach}}
                </div>
            {{/if}}
            <a class="play-btn" href="{{url}}/play">
                Play
            </a>
        </div>
        {{> side-bar}}
    </div>
</div>
