{{#foreach list.contents}}
    <a class="card" href="{{url}}">
        <dl>
            <dt class="card-img">
                <img alt="img" src="{{thumbnail.src}}">
            </dt>
            <dd class="card-content">
                <span class="card-name">{{title}}</span>
                <span class="tit-start">
                    <span>{{category.name}}</span>
                    <i class="iconfont icon-star"></i>
                    <span class="start">{{reading.total}}</span>
                </span>
            </dd>
        </dl>
    </a>
{{/foreach}}
