<div class="game-title">
    <div class="flag"></div>
    <div class="title">热门游戏</div>
</div>
<div class="card-wrapper">
    {{#foreach readingList.total limit="5"}}
        <a class="card" href="{{href}}">
            <div class="card-img">
                <img alt="img" src="{{thumbnail.src}}">
            </div>
            <div class="card-info">
                <section class="title">{{title}}</section>
                <section>
                    <section class="author">
                        <span>{{extensions.author}}</span>
                    </section>
                    <section class="social-bar">
                        <i class="iconfont icon-eye"></i>
                        <span>{{reading.total}}</span>
                    </section>
                </section>
            </div>
        </a>
    {{/foreach}}
</div>
{{#foreach lists}}
    <div class="game-title">
        <div class="flag"></div>
        <div class="title">{{name}}</div>
        <a class="see-all" href="{{path}}">全部</a>
    </div>
    <div class="card-wrapper">
        {{#foreach contents limit="5"}}
            <a class="card" href="{{href}}">
                <div class="card-img">
                    <img alt="img" src="{{thumbnail.src}}">
                </div>
                <div class="card-info">
                    <section class="title">{{title}}</section>
                    <section>
                        <section class="author">
                            <span>{{extensions.author}}</span>
                        </section>
                        <section class="social-bar">
                            <i class="iconfont icon-eye"></i>
                            <span>{{reading.total}}</span>
                        </section>
                    </section>
                </div>
            </a>
        {{/foreach}}
    </div>
{{/foreach}}
