<div class="container">
    <h1>旅程</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <h4 class="text-weight-normal">显示 {{ data.posts.results.length}} 篇.</h4>
            <div class="blog">
                {{# each readingList.total}}
                    <div class="post">
                        <h2><a href="{{href}}">{{{title}}}</a></h2>
                        <p class="lead text-muted">发布在 <a href="{{category.path}}">{{{category.name}}}</a></p>
                        {{#if thumbnail}}
                            <img src="{{thumbnail.src}}" title="{{thumbnail.fileName}}" alt="{{thumbnail.description}}"
                                 class="img pull-right">
                        {{/if}}
                        {{#if abstract}}
                            <p>{{abstract}}</p>
                        {{/if}}
                        <p class="read-more"><a href="{{href}}">阅读</a></p>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <h2>分类</h2>
            <div style="margin-top: 70px;" class="list-group">
                <a href="/travel" class="list-group-item">所有分类</a>
                {{#foreach lists}}
                    <a href="{{path}}" class="list-group-item">{{name}}</a>
                {{/foreach}}
            </div>
        </div>
    </div>
    {{>pagination}}
</div>
