<div class="container">
    <div class="row">
        <!--左-->
        <div class="col-lg-7 col-md-7">
            <ul class="article-list">
                {{#foreach readingList.total limit="5"}}
                    <li>
                        <a href="{{url}}" class="row">
                            <div class="article-img col-lg-5 col-md-5">
                                {{#if thumbnail}}
                                    <img src="{{thumbnail.src}}" title="{{thumbnail.fileName}}"
                                         alt="{{thumbnail.description}}" class="img pull-right">
                                {{/if}}
                            </div>
                            <div class="article-info col-lg-7 col-md-7">
                                <h2 class="article-tit">{{{title}}}</h2>
                                <span class="article-time">{{dateformat date format="YYYY.MM.DD"}}</span>
                                {{#if abstract}}
                                    <p>{{abstract}}</p>
                                {{/if}}
                            </div>
                        </a>
                    </li>
                {{/foreach}}
            </ul>
            {{>pagination}}
        </div>
        <div class="col-lg-1 col-md-1"></div>
        <!--右-->
        <div class="col-lg-4 col-md-4 article-tags">
            {{#foreach lists}}
                <a href="{{path}}" class="col-lg-12 col-md-12 tags">
                    <div class="tag-{{description}}">
                        <h2 class="col-lg-4 col-md-4">{{name}}</h2>
                        <div class="col-lg-8 col-md-8 img-tag"></div>
                    </div>
                </a>
            {{/foreach}}
        </div>
    </div>
</div>
