<div class="row">
    <div class="col-lg-10 col-md-12 mx-auto">
        <ul class="photo-list">
            {{#foreach list.contents}}
                <li class="col-lg-4 col-md-4">
                    <a href="{{url}}" class="photo-item">
                        <div class="photo-img">
                            {{#if thumbnail}}
                                <img src="{{thumbnail.src}}" title="{{thumbnail.fileName}}"
                                     alt="{{thumbnail.description}}" class="img pull-right">
                            {{/if}}
                        </div>
                        <div class="mt-2">
                            <span class="photo-name">{{title}}</span>
                            <i class="photo-num">{{extensions.pictures.length}}张</i>
                        </div>
                    </a>
                </li>
            {{/foreach}}
        </ul>
    </div>
</div>
