<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        {{#foreach list.contents}}
            <div class="row">
                <div class="col-md-7">
                    <a href="{{url}}">
                        {{#if thumbnail}}
                            <img src="{{thumbnail.src}}" title="{{thumbnail.fileName}}"
                                 alt="{{thumbnail.description}}" class="img-fluid rounded mb-3 mb-md-0">
                        {{/if}}
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>{{title}}</h3>
                    <p>{{abstract}}</p>
                    <a class="btn btn-primary" href="{{url}}">阅读更多</a>
                </div>
            </div>
            <hr>
        {{/foreach}}
    </div>
</div>

